body {background-color: lightseagreen;}

h1 {color: black;
  text-align: center;}

p {font-family: verdana;
  font-size: 19px;}
p1 {font-family: Verdana;
   font-size: 15xp;}
li {font-family: verdana;
   font-size: 15xp;}