body {
    background-color: lightseagreen;
    background-repeat: no-repeat;
    background-size: cover;
}



h1 {color: rgb(255, 251, 251);
  text-align: center;}

p {font-family: verdana;
  font-size: 19px;}
p1 {font-family: Verdana;
   font-size: 15xp;}
li {font-family: verdana;
   font-size: 15xp;}